<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    {{{_sections.head}}}
    {{{_sections.styles}}}
  </head>
  <body>
    {{{_sections.content}}}
    {{{body}}}
    {{>scripts}}
    {{{_sections.scripts}}}
  </body>
</html>
